# Python Syntax

Python Indentation:

In [1]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

Python Variables (Variaveis Python):

In [2]:
x = 5
y = "Hello, World!"

Comments (Coment√°rios):

In [3]:
#This is a coment.
print("Hello, World!")

Hello, World!

# Python Comments

In [4]:
#This is a comment
print("Hello, World!")

Hello, World!

In [5]:
print("Hello, World!") #This is a comment

Hello, World!

In [6]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [7]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [8]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# Python Variables

In [9]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [10]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [11]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [12]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [13]:
x = "John"
# is the same as
x = 'John'

In [14]:
a = 4
A = "Sally"
#A will not overwrite a

### Variable Names

In [15]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [16]:
myVariableName = "John"

In [17]:
MyVariableName = "John"

In [18]:
my_variable_name = "John"

### Python Variables - Assign Multiple Values

In [19]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [20]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [21]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

### Python - Output Variables

In [22]:
x = "Python is awesome"
print(x)

Python is awesome

In [23]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [24]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [25]:
x = 5
y = 10
print(x + y)

15

In [26]:
x = 5
y = "John"
print(x + y)
# error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
x = 5
y = "John"
print(x, y)

5 John

### Python - Global Variabless

In [28]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [29]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [30]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [31]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Python Data Types

Text Type:	    str /
Numeric Types:	int, float, complex /
Sequence Types:	list, tuple, range /
Mapping Type:	dict /
Set Types:	    set, frozenset /
Boolean Type:	bool /
Binary Types:	bytes, bytearray, memoryview /
None Type:	    NoneType /

In [32]:
x = 5
print(type(x))

<class 'int'>

Example	Data Type
x = "Hello World"	                            str /
x = 20	                                        int	/
x = 20.5                                        float /	
x = 1j	                                        complex /	
x = ["apple", "banana", "cherry"]	            list /
x = ("apple", "banana", "cherry")	            tuple /	
x = range(6)	                                range / 
x = {"name" : "John", "age" : 36}	            dict /	
x = {"apple", "banana", "cherry"}	            set	/
x = frozenset({"apple", "banana", "cherry"})	frozenset /	
x = True	                                    bool /
x = b"Hello"	                                bytes /	
x = bytearray(5)	                            bytearray /	
x = memoryview(bytes(5))	                    memoryview /	
x = None	                                    NoneType /

# Python Numbers

int /
float /
complex /

In [33]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [34]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

### Int

In [35]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

### Float

In [36]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [37]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### Complex

In [38]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

### Type Conversion

In [39]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

### Random Number

In [40]:
import random

print(random.randrange(1, 10))

3

# Python Casting

Casting in python is therefore done using constructor functions:

- int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
- float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [1]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [2]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [3]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# Python Strings

In [4]:
print("Hello")
print('Hello')

Hello
Hello

In [5]:
a = "Hello"
print(a)

Hello

### Multiline Strings

In [6]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [7]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### String are Arrays

In [8]:
a = "Hello, World!"
print(a[1])

e

### Looping Through a String

In [9]:
for x in "banana":
  print(x)

b
a
n
a
n
a

### String Length

In [10]:
a = "Hello, World!"
print(len(a))

13

### Check String

In [11]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [12]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

### Check if NOT

In [13]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [14]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

## Python - Slicing Strings

In [15]:
b = "Hello, World!"
print(b[2:5])

llo

### Slice From the Start

In [16]:
b = "Hello, World!"
print(b[:5])

Hello

### Slice To the End

In [17]:
b = "Hello, World!"
print(b[2:])

llo, World!

### Negative Indexing

In [18]:
b = "Hello, World!"
print(b[-5:-2])

orl

## Python - Modify Strings

### Upper Case

In [19]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

### Lower Case

In [20]:
a = "Hello, World!"
print(a.lower())

hello, world!

### Remove Whitespace

In [21]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

### Replace String

In [22]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

### Split String

In [23]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

## Python - String Concatenation

In [27]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [26]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

## Python - Format - Strings

In [29]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [30]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [31]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

## Python - Escape Characters

In [32]:
txt = "We are the so-called \"Vikings\" from the north."

## Escape Characters

\'	    Single Quote ;	
\\	    Backslash ;	
\n	    New Line ;
\r	    Carriage Return	;
\t	    Tab	;
\b	    Backspace ; 	
\f	    Form Feed ; 
\ooo	Octal value ;	
\xhh	Hex value

## Python - String Methods

capitalize()	Converts the first character to upper case ;
casefold()	    Converts string into lower case ;
center()	    Returns a centered string ;
count()	        Returns the number of times a specified value occurs in a string ;
encode()	    Returns an encoded version of the string ;
endswith()	    Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string ;
find()	        Searches the string for a specified value and returns the position of where it was found ; 
format()	    Formats specified values in a string ;
format_map()	Formats specified values in a string ;
index()	        Searches the string for a specified value and returns the position of where it was found ;
isalnum()	    Returns True if all characters in the string are alphanumeric ;
isalpha()	    Returns True if all characters in the string are in the alphabet ;
isdecimal()	    Returns True if all characters in the string are decimals ;
isdigit()	    Returns True if all characters in the string are digits ;
isidentifier()	Returns True if the string is an identifier ;
islower()	    Returns True if all characters in the string are lower case ;
isnumeric()	    Returns True if all characters in the string are numeric ;
isprintable()	Returns True if all characters in the string are printable ;
isspace()	    Returns True if all characters in the string are whitespaces ;
istitle()	    Returns True if the string follows the rules of a title ;
isupper()	    Returns True if all characters in the string are upper case ;
join()	        Joins the elements of an iterable to the end of the string ;
ljust()	        Returns a left justified version of the string ;
lower()	        Converts a string into lower case ;
lstrip()	    Returns a left trim version of the string ;
maketrans()	    Returns a translation table to be used in translations ;
partition()	    Returns a tuple where the string is parted into three parts;
replace()	    Returns a string where a specified value is replaced with a specified value ;
rfind()	        Searches the string for a specified value and returns the last position of where it was found ;
rindex()	    Searches the string for a specified value and returns the last position of where it was found ;
rjust()	        Returns a right justified version of the string ;
rpartition()	Returns a tuple where the string is parted into three parts ;
rsplit()	    Splits the string at the specified separator, and returns a list ;
rstrip()	    Returns a right trim version of the string ;
split()	        Splits the string at the specified separator, and returns a list ;
splitlines()	Splits the string at line breaks and returns a list ;
startswith()	Returns true if the string starts with the specified value ;
strip()	        Returns a trimmed version of the string ;
swapcase()	    Swaps cases, lower case becomes upper case and vice versa ;
title()	        Converts the first character of each word to upper case ;
translate()	    Returns a translated string ;
upper()	        Converts a string into upper case ;
zfill()	        Fills the string with a specified number of 0 values at the beginning ;

# Python Booleans

Booleans represent one of two values: True or False.

In [34]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [35]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

## Evaluate Values and Variables

In [36]:
print(bool("Hello"))
print(bool(15))

True
True

In [37]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

## Most Values are True

In [38]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

## Some Values are False

In [39]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [40]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

## Functions can Return a Boolean

In [41]:
def myFunction() :
  return True

print(myFunction())

True

In [42]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [43]:
x = 200
print(isinstance(x, int))

True

# Python Operators

In [44]:
print(10 + 5)

15

### Python Arithmetic Operators

- +(addition)
- -(subtraction)
- *(multiplication)
- /(division)
- %(modulus)
- **(exponentiation)
- //(floor division)

### Python Assignment Operators

- =
- +=
- -=
- *=
- /=
- %=
- //=
- **=
- &=
- |=
- ^=
- #>>=
- <<=

### Python Comparison Operators

- == (Equal)
- != (Not equal)
- #> (Greater than)
- <	(Less than)
- #>=	(Greater than or equal to)
- <=	(Less than or equal to)

### Python Logical Operators

- and (returns true if both statements are true)
- or (returns true if one of the statement is true)
- not (reverse the result, returns false if the result is true)

### Python Identity Operators

- is (Returns True if both variables are the same object)
- is not (Returns True if both variables are not the same object)

### Python Membership Operators

- in (Returns True if a sequence with the specified value is present in the object)	
- not in (Returns True if a sequence with the specified value is not present in the object)

### Python Bitwise Operators

- & (AND) Sets each bit to 1 if both bits are 1
- |	(OR) Sets each bit to 1 if one of two bits is 1
- ^	(XOR) Sets each bit to 1 if only one of two bits is 1
- ~	(NOT) Inverts all the bits
- << (Zero fill left shift)	Shift left by pushing zeros in from the right and let the leftmost bits fall off
- #>> (Signed right shift) Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

# Python Lists

In [1]:
mylist = ["apple", "banana", "cherry"]

In [2]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [3]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [4]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [5]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [6]:
list1 = ["abc", 34, True, 40, "male"]

In [7]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [8]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

### Python - Access List Items

In [9]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [10]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [11]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [14]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [15]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

### Python - Change List Items

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [17]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [18]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [20]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

### Python - Add List Items

In [21]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [22]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [23]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [24]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

### Python - Remove List Items

In [25]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [27]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [28]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [29]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [30]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

### Python - Loop Lists

In [31]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [32]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [33]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [34]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

### Python - List Comprehension

In [35]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [36]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

The Syntax

newlist = [expression for item in iterable if condition == True]

In [37]:
newlist = [x for x in fruits if x != "apple"]

In [38]:
newlist = [x for x in fruits]

In [39]:
newlist = [x for x in range(10)]

In [40]:
newlist = [x for x in range(10) if x < 5]

In [41]:
newlist = [x.upper() for x in fruits]

In [42]:
newlist = ['hello' for x in fruits]

In [43]:
newlist = [x if x != "banana" else "orange" for x in fruits]

### Python - Sort Lists

In [44]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [45]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [46]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [47]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [48]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [49]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [50]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [51]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

### Python - Copy Lists

In [52]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [53]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

### Python - Join Lists

In [54]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [55]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [56]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

### Python - List Methods

- append()	Adds an element at the end of the list
- clear()	Removes all the elements from the list
- copy()	Returns a copy of the list
- count()	Returns the number of elements with the specified value
- extend()	Add the elements of a list (or any iterable), to the end of the current list
- index()	Returns the index of the first element with the specified value
- insert()	Adds an element at the specified position
- pop()	Removes the element at the specified position
- remove()	Removes the item with the specified value
- reverse()	Reverses the order of the list
- sort()	Sorts the list

# Python Tuples

In [57]:
mytuple = ("apple", "banana", "cherry")

In [58]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [59]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [60]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [62]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [63]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [64]:
tuple1 = ("abc", 34, True, 40, "male")

In [65]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [66]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

### Python - Access Tuple Items

In [67]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [68]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [69]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [70]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [71]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [72]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [73]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

### Python - Update Tuples

In [74]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [76]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [77]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [78]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [79]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

### Python - Unpack Tuples

In [80]:
fruits = ("apple", "banana", "cherry")

In [81]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [82]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [83]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

### Python - Loop Tuples

In [84]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [85]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [88]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

### Python - Join Tuples

In [89]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [90]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### Python - Tuple Methods

- count()	Returns the number of times a specified value occurs in a tuple
- index()	Searches the tuple for a specified value and returns the position of where it was found

# Python Sets

In [91]:
myset = {"apple", "banana", "cherry"}

In [93]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [94]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [99]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1, set2, set3)

{'cherry', 'apple', 'banana'} {1, 3, 5, 7, 9} {False, True}

In [100]:
set1 = {"abc", 34, True, 40, "male"}

In [101]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [102]:
thisset = set(("apple", "banana", "cherry")) #note the double round brackets
print(thisset)

{'cherry', 'apple', 'banana'}

### Python - Access Set Items

In [103]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
apple
banana

In [104]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

### Python - Add Set Items

In [107]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'cherry', 'apple', 'banana'}

In [109]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)

{'papaya', 'cherry', 'pineapple', 'apple', 'banana', 'mango'}

In [111]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'kiwi', 'cherry', 'orange', 'banana', 'apple'}

### Python - Remove Set Items

In [114]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [116]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [118]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'apple', 'banana'}

In [2]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [5]:
thisset = {"apple", "banana", "cherry"}
del thisset

### Python - Loop Sets

In [6]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
apple
banana

### Python - Join Sets

In [2]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [3]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'a', 'b'}

In [4]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)

{'apple'}

In [5]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
print(x)

{'microsoft', 'google', 'banana', 'cherry'}

In [6]:
x = {"aaple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)
print(z)

{'microsoft', 'google', 'apple', 'aaple', 'banana', 'cherry'}

#  Python Dictionaries

### Python Dictionaries

In [8]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [9]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict["brand"])

Ford

In [10]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [11]:
print(len(thisdict))

3

In [13]:
thisdict = {
    "brand": "Ford",
    "electric": False,
    "year": 1964,
    "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [14]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [15]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

### Python - Access Dictionary Items

In [17]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
x  = thisdict["model"]
print(x)

Mustang

In [19]:
x  = thisdict.get("model")
print(x)

Mustang

In [21]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [23]:
car = {
    "brand": "Ferrari",
    "model": "458 Italia",
    "year": 2000,
}
x= car.keys()
print(x)
car["color"] = "black"
print(x)
print(car)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
{'brand': 'Ferrari', 'model': '458 Italia', 'year': 2000, 'color': 'black'}

In [25]:
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [27]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
x = car.values()
print(x)
car["year"] = 2020
print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [31]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
x = car.values()
print(x)
car["color"] = "red"
print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [33]:
x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [35]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
x = car.items()
print(x)
car["year"] = 2020
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [37]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
x = car.items()
print(x)
car["color"] = "red"
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [38]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
if "model" in thisdict:
    print("yes, 'model', is one of the keys in the thisdict dictionary")

yes, 'model', is one of the keys in the thisdict dictionary

### Python - Change Dictionary Items

In [40]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [42]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

### Python - Add Dictionary Items

In [43]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [2]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

### Python Remove Dictionary Items

In [3]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [4]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "color": "Blue",
    "year": 1964,
}
thisdict.pop("year")
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'color': 'Blue'}

In [5]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [6]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict.clear()
print(thisdict)

{}

### Python Loop Dictionaries

In [9]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [10]:
for x in thisdict:
    print(x)

brand
model
year

In [11]:
for x in thisdict:
    print(thisdict[x])

Ford
Mustang
1964

In [12]:
for x in thisdict.values():
    print(x)

Ford
Mustang
1964

In [13]:
for x in thisdict.keys():
    print(x)

brand
model
year

In [14]:
for x, y in thisdict.items():
    print(x, y)

brand Ford
model Mustang
year 1964

### Python Copy Dictionaries

In [15]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [16]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Python Nested Dictionaries

In [19]:
myfamily = {
    "child1": {
        "name": "Emil",
        "year": 2004
    },
    "child2": {
        "name": "Pedro",
        "year": 2007
    },
    "child3": {
        "name": "Lucas",
        "year":1997
    }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Pedro', 'year': 2007}, 'child3': {'name': 'Lucas', 'year': 1997}}

In [21]:
child1 = {
    "name": "Emil",
    "year": 2004
},
child2 = {
    "name": "Pedro",
    "year": 2007
},
child3 = {
    "name": "Lucas",
    "year":1997
}

myfamily = {
    "child1": child1,
    "child2": child2,
    "child3": child3
}
print(myfamily)

{'child1': ({'name': 'Emil', 'year': 2004},), 'child2': ({'name': 'Pedro', 'year': 2007},), 'child3': {'name': 'Lucas', 'year': 1997}}

# Python If...Else

- equals: a == b
- not equals: a != b
- less than: a < b
- less than or equal to: a <= b
- greater than: a > b
- greater than or equal to: a >= b

In [22]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [24]:
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [25]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [26]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

### Short Hand If

In [27]:
a = 200
b = 20
if a > b: print("a is greater than b")

a is greater than b

### Short Hand If...Else

In [28]:
a = 2
b = 300
print("A") if a > b else print("B")

B

In [32]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

### And

In [33]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

### Or

In [34]:
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

### Not

In [35]:
a = 33
b = 200
if not a > b:
    print("a is not greater than b")

a is not greater than b

### Nested If

In [37]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

### The pass statement

In [38]:
a = 33
b = 200

if b > a: 
    pass

# Python While Loops

### Python Loops

- While(enquanto) Loops
- For(para) Loops

In [39]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

### The brake Statement

In [46]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

### The continue Statement

In [47]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

### The else Statement

In [48]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Python For Loops

In [49]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

### Looping Through a String

In [50]:
for x in "banana":
    print(x)

b
a
n
a
n
a

### The break Statement

In [51]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [52]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break 
    print(x)

apple

### The continue Statement

In [53]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

### The range Function

In [1]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [3]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [5]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

### Else in for loop:

In [7]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [9]:
for x in range(3):
    if x == 3: break
    print(x)
else:
    print("finally finished!")

0
1
2
finally finished!

### Nested Loops

In [11]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### The pass Statement

In [12]:
for x in [0, 1, 2]:
    pass

# Python Functions

### Creating a Function

In [15]:
def my_function():
    print("Hello from a function")

### Calling a function

In [17]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

### Arguments

In [18]:
def my_function(frame):
    print(frame + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

### Number of Arguments

In [20]:
def my_function(frame, lname):
    print(frame + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

### Arbitrary Arguments *args

In [23]:
def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

### Keyword Arguments

In [25]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

### Arbitrary Keyword Arguments, **kwargs

In [27]:
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(frame = "Tobias", lname = "Refsnes")

His last name is Refsnes

### Defaut Parameter Value

In [29]:
def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

### Passing a List as an Argument

In [31]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

### Return Values

In [32]:
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

### The pass Statement

In [33]:
def my_function():
    pass

### Recursion

In [35]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results

21

# Python Lambda

### Syntax

In [37]:
lambda arguments : expression

In [40]:
x = lambda a : a + 10
print(x(5))

15

In [42]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [43]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

### Why use lambda functions?

In [45]:
def myfunc(n):
    return lambda a : a * n

In [48]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
print(mydoubler(11))

22

In [50]:
def myfunc(n):
    return lambda a : a * n

mytripler = myfunc(3)
print(mytripler(11))

33

In [51]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

# Python Arrays

In [52]:
cars = ["ford", "volvo", "bmw"]

In [54]:
car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"

### Access the elements of an Array

In [55]:
x = cars[0]

In [57]:
cars[0] = "Toyota"

### The length of an array

In [59]:
x = len(cars)

### Looping array elements

In [60]:
for x in cars:
    print(x)

Toyota
volvo
bmw

### Adding array elements

In [62]:
cars.append("Honda")

### Removing array elements

In [63]:
cars.pop(1)

'volvo'

In [66]:
cars.remove("Honda")

- append()	Adds an element at the end of the list
- clear()	Removes all the elements from the list
- copy()	Returns a copy of the list
- count()	Returns the number of elements with the specified value
- extend()	Add the elements of a list (or any iterable), to the end of the current list
- index()	Returns the index of the first element with the specified value
- insert()	Adds an element at the specified position
- pop()	Removes the element at the specified position
- remove()	Removes the first item with the specified value
- reverse()	Reverses the order of the list
- sort()	Sorts the list

#  Python Classes/Objects

# Python Inheritance

## Python Scope

## Python Modules

## Python Dates

## Python Math

## Python JSON

## Python RegEx

## Python PIP

## Python Try..Except

## Python User Input

## Python String Formatting